.content-header{
    background-color: #F6FBF4;
}


.user-link{
    height: 42px;
    padding-top: 12px;
    padding-bottom: 24px;
}

.user-link span{
    font-size: 14px;
}

.user-link a{
    text-decoration: none;
    color: #006A91;
}

.user-link i{
   font-size: 16px;
}

.content-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    margin-top: 24px;
    color: #dceafc;
    background-color: #006A91;
    border-radius: 4px;
    
}

.content-title p{
    text-transform: uppercase;
}

/* start note  */

.note-area{
    height: 360px;
    overflow: scroll;
}

.note-title{
    position: relative;
    height: 36px;
    background-color: #006A91;
    border-radius: 4px;
}

.note-title-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #dceafc;
}

.note-title p{
    text-transform: uppercase;
    
} 

.note-add{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    color: #dceafc;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 4px;
    cursor: pointer;
}

.note-add:hover{
    box-shadow: 0 5px 25px rgb(8, 90, 120);
    color: #fff;
}

.note-item-field{
    position: relative;
    display: inline-block;
    background-color: #fff;
    height: 264px;
    width: 333px;
    margin: 6px;
    background-color: rgb(241, 217, 117,0.4);;
    box-shadow: 0 24px 24px rgba(0, 62, 116, 0.8)
}

.note-item-field:hover{
    box-shadow: 0px 12px 24px rgb(0, 35, 66)
}

.delete-note-button{
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: block;
    width: 25%;
    padding: 12px 8px;
    background-color: #006A91;
    color: #F6FBF5;
    border-width: 0.9px;
    border-color: #006A91;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #006A91;
}



.note-item-text {
    padding-top: 24px;
}

.note-item-text p{
    text-indent: 24px;
    text-align: justify;
}

.delete-note-button:hover{
    background-color: rgb(0, 106, 145,0.9);
    color: #F6FBF5;
    border: 1px solid #006A91;
    box-shadow: 0 10px 25px rgba(0, 62, 116, 0.8);
}

/* start tab */

/* tab search + add  */

#tab-search-cbql {
    position: absolute;
    top: 0;
    right: 38px;
    color: #000;
    background-color: #dcebe9;
    border: solid 2px #006A91;
    border-radius: 6px;
    width: 99px;
    font-size: 16px;
    height: 38px;
    display: inline-block;
    padding-left: 24px;
    outline: none;
    cursor: text;
}

#tab-search-icon{
    position: absolute;
    top: 0;
    right: 0px;
    display: inline-block;
    color: #dcebe9;
    line-height: 38px;
    padding: 0 11px;
    cursor: pointer;
    border-radius: 4px;
}

.tab-add{
    float: left;
    width: 784px;
    height: 38px;
}

.icon-add{
    display: inline-block;
    color: #F6FBF5;
    line-height: 38px;
    padding: 0 11px;
    cursor: pointer;
}

.icon-add:hover {
    box-shadow: 0 3px 12px rgb(8, 90, 120);
    color: #fff;
    border-radius: 4px;
}


/* Phần style nội dung bảng */

.ivu-table {
    width: inherit;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    color: #000;
    font-size: 12px;
    background-color: #fff;
    margin-left: 8px;
}

.ivu-table-header {
    overflow: hidden;
    text-transform: uppercase;
}

.ivu-table-header .ivu-table-cell{
    color: #006A91;
}

.ivu-table table {
    table-layout: fixed;
}

.ivu-table table {
    width: 100%!important;
}

.ivu-table table {
    table-layout: fixed;
}

.ivu-table th {
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    background-color: #dcebe9;
}

.ivu-table td, .ivu-table th {
    min-width: 0;
    height: 48px;
    box-sizing: border-box;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
    border-bottom: 1px solid #006A91;
}


.ivu-table td {
    background-color: #fff;
    transition: background-color .2s ease-in-out;
}

.ivu-table td, .ivu-table th {
    min-width: 0;
    height: 48px;
    box-sizing: border-box;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
    border-bottom: 1px solid #006A91;
}


.ivu-btn, .ivu-btn:active, .ivu-btn:focus {
    outline: 0;
}

.ivu-btn:hover {
    color: #6d7380;
    background-color: #f9f9f9;
    border-color: #e4e5e7;
}

.ivu-btn:hover {
    color: #006A91;
    background-color: #fff;
    border-color: #006A91;
}

.ivu-btn-text:hover {
    color: #6d7380;
    background-color: hsla(0,0%,100%,.2);
    border-color: hsla(0,0%,100%,.2);

    color: #006A91;
    background-color: transparent;
    border-color: transparent;
}

.ivu-btn:not([disabled]):hover {
    text-decoration: none;
}

.ivu-btn-large {
    padding: 6px 15px 7px;
    font-size: 14px;
    border-radius: 4px;
}

.ivu-btn-text {
    color: #495060;
    background-color: transparent;
    border-color: transparent;
}

.ivu-btn:before {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    background: #fff;
    opacity: .35;
    content: "";
    border-radius: inherit;
    z-index: 1;
    transition: opacity .2s;
    pointer-events: none;
    display: none;
}
/* Hết style nội dung bảng */

/* modal add */
.modal-addVK {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.modal-addVK.open{
    display: flex;
}

.modal-addVK-form{
    position: relative;
    background-color: #dcebe9;
    width: 800px;
    color: #F6FBF5;
    font: 16px;
    border-radius: 4px;
    animation: loginFormArrive ease 0.4s;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 62, 116, 0.8);
}

/* end modal add */


/* modal show info */
.modal-info {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.modal-info.open{
    display: flex;
}

.modal-info-form{
    position: relative;
    background-color: #dcebe9;
    width: 1100px;
    color: #F6FBF5;
    font: 16px;
    border-radius: 4px;
    animation: loginFormArrive ease 0.4s;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 62, 116, 0.8);
}

.info-container{
    /* display: flex;
    align-items: center; */
    background-color: #fff;
    border-radius: 8px 0px 0 8px;
    
}

.info-label{
    display: inline-block;
    margin-right: 4px;
    padding-left: 12px;
    background-color: #006A91;
    color: #fff;
    line-height: 44px;
    width: 132px;
    border-radius: 8px 0px 0 8px;
}

.info-content{

}

.info-item-show{
    display: inline-block;
    margin-left: 44px;
    background-color: #fff;
}

.area-btn{
    margin-top: 24px;
}

/*end modal show info */